.icons {
	width: 100%;
	height: auto;
	transition: transform 12s;
	z-index: 1;
}
.icons:hover {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 10%;
	width: auto;
	height: 100%;
	/* /top: 50%; */
	/* transition: transform 6s; */

	/* transform: translate(50%, 50%); */
	transform: scale(5);
	/* animation: float 2s ease-in-out infinite; */
}
