/* .myCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: white;
	box-shadow: 5px 5px 5px 1px#c8c8c8;
	margin: 10px;
	justify-content: space-around;
	border-radius: 10px;
}
.myCard {
	padding: 10px;
	margin: 10px;
	align-self: center;
	justify-self: center;
	background-color: rgba(128, 177, 162, 0.301);
	border-radius: 10px;
	box-shadow: 5px 5px 5px 1px#c8c8c8;
} */

.myCards {
	background-color: white;
	box-shadow: 5px 5px 5px 1px#c8c8c8;
	margin: 10px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.myCard {
	width: 100%;
	height: auto;
	/* transition: transform 1s; */
	/* border-radius: 10px; */
	/* box-shadow: 5px 5px 5px 1px#c8c8c8; */
	/* background: rgba(128, 177, 162, 0.301); */
	/* align-self: center; */
	justify-self: center;
}

.responsive_image {
	width: 100%;
	height: auto;
}
