<!-- <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->



<div class="myCards">
  <div class="myCard" *ngFor="let video of newUrls">
    <!-- <video controls class="responsive_image" [src]="video" type="video/mp4">
    </!-->
    <iframe [src]="video" class="responsive_image" allowfullscreen scrolling='no' controls></iframe>
  </div>
</div>

<!-- <div class=" myCards">
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/33739521" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/33740711" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/33738981" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>

      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/33739121" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>

      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/33739321" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/51609451" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/49133691" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
      <div class="myCard">
        <iframe src="https://www.youjizz.com/videos/embed/44253841" class="responsive_image" frameborder="0"
          style="width:100%; height:240px;" controls allowtransparency="true"></iframe>
      </div>
  </div> -->