.myCards {
	background-color: white;
	box-shadow: 5px 5px 5px 1px#c8c8c8;
	margin: 10px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.myCard {
	width: 300px;
	height: 300px;
	justify-self: center;
}

.responsive_image {
	/* width: 100%;
	height: auto; */
	width: 300px;
	height: 300px;
}
